# dependencies
node_modules/

# next.js
.next/
.next*/
out/
tsconfig.tsbuildinfo

# loose asset files in root
*.png
*.jpg
*.jpeg
*.svg
*.gif

# env files
.env*
!.env.example

# misc
.DS_Store
*.pem
npm-debug.log*

# Local Netlify folder
.netlify
